* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
}

p{
    font-family: 'Roboto';
    font-size: 18px;
}

li {
    font-family: 'Roboto';
    font-size: 16px;
}

h1 {
    font-size: 36px;
    color: #886632;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

strong {
    font-weight: bold;
    color: #2b6cb0; 
}


/* ----------------------------------------------------------------------- */
/* HEADER */
nav {
    background-color: #65a8dd;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-family: 'Bebas Neue';
    font-weight: bold;
}

.menu li {
    position: relative;
}

.menu a {
    color: black;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    transition: color 0.3s ease, background-color 0.3s ease; 
}

.menu li a:hover {
    background-color: rgb(255, 255, 255);
    color: #2b6cb0;
    border-bottom: 3px solid #2b6cb0; 
}


.menu .active {
    border-bottom: 3px solid #0b345f; 
    color: #2b6cb0;
    background-color: rgb(255, 255, 255);
}

.menu .active:hover {
    background-color: bisque;
    color: #447fbe;
    border-bottom: 3px solid #963434;
}

.menu .moncv {
    background-color: rgb(212, 0, 0);
}


/* menu déroulant */
.sousMenu .sousMenu-content {
    display: none;
    position: absolute;
    background-color: #886632;
    min-width: 200px;
    z-index: 1;
    transition: all 0.3s ease;
}

.sousMenu:hover .sousMenu-content {
    display: block;
}

.sousMenu-content a {
    color: black;
    padding: 10px;
    background-color: #ce9a4d;
}

.sousMenu-content a:hover {
    color: #886632;
}